node_modules
dist
*.local
.DS_Store
.wrangler/state/v3/cache/miniflare-CacheObject/metadata.sqlite
.wrangler/state/v3/cache/miniflare-CacheObject/metadata.sqlite-shm
.wrangler/state/v3/cache/miniflare-CacheObject/metadata.sqlite-wal
.wrangler/state/v3/do/archer-js-GameRoom/b6cb80194f6bc8d8f1957d83af6f67591782034824b151d8a88096cc3b1a8466.sqlite
.wrangler/state/v3/do/archer-js-GameRoom/b5769ec82f95f1ff835c894229631298568c5163dce4dd3a2a0041a133b80c10.sqlite
.wrangler/state/v3/do/archer-js-GameRoom/b5769ec82f95f1ff835c894229631298568c5163dce4dd3a2a0041a133b80c10.sqlite-shm
.wrangler/state/v3/do/archer-js-GameRoom/b5769ec82f95f1ff835c894229631298568c5163dce4dd3a2a0041a133b80c10.sqlite-wal
.wrangler/state/v3/do/archer-js-GameRoom/metadata.sqlite
.wrangler/state/v3/do/archer-js-GameRoom/metadata.sqlite-shm
.wrangler/state/v3/do/archer-js-GameRoom/metadata.sqlite-wal
.wrangler/tmp/bundle-Kr7StW/middleware-insertion-facade.js
.wrangler/tmp/bundle-Kr7StW/middleware-loader.entry.ts
.wrangler/tmp/bundle-YNusaf/middleware-insertion-facade.js
.wrangler/tmp/bundle-YNusaf/middleware-loader.entry.ts
.wrangler/tmp/bundle-zLQiXU/middleware-insertion-facade.js
.wrangler/tmp/bundle-zLQiXU/middleware-loader.entry.ts
.wrangler/tmp/dev-AxMD9A/index.js
.wrangler/tmp/dev-AxMD9A/index.js.map
.wrangler/tmp/dev-FR6Qhh/index.js
.wrangler/tmp/dev-FR6Qhh/index.js.map
.wrangler/tmp/dev-cK1jlQ/index.js
.wrangler/tmp/dev-cK1jlQ/index.js.map
.wrangler/*